**/.venv
**/__pycache__
**/.pytest_cache
**/.ruff_cache
**/node_modules
**/dist
.git
data
*.db
.env
.DS_Store

**/.mypy_cache
frontend/test-results
frontend/playwright-report
*.oci.tar

**/.venv*
.env.*
**/.secret_key
**/data
